<div class='rootDiv'>
  <div id="passwordRow">
    <mat-form-field class='passwordField'>
      <mat-label>Password</mat-label>
      <input matInput type="text" [(ngModel)]='password' [readonly]="true">
    </mat-form-field>
    <button id="copyButton" mat-mini-fab [cdkCopyToClipboard]='password' aria-label='Copy' color='accent'>
      <mat-icon>file_copy</mat-icon>
    </button>
  </div>

  <div id="checkRow1">
    <mat-checkbox [(ngModel)]='upperCase'>Upper Case</mat-checkbox>
    <mat-checkbox [(ngModel)]='lowerCase'>Lower Case</mat-checkbox>
    <mat-checkbox [(ngModel)]='digits'>Digits</mat-checkbox>
    <mat-checkbox [(ngModel)]='symbols'>Symbols</mat-checkbox>
  </div>

  <div id="checkRow2">
    <mat-checkbox [(ngModel)]='avoidAmbiguousLetters'>Avoid ambiguous letters</mat-checkbox>
  </div>

  <div id="lengthRow">
    <mat-form-field id='lengthSelect'>
      <mat-label>Length</mat-label>
      <mat-select [(ngModel)]='passwordLength'>
        <mat-option *ngFor='let opt of lengthOptions' [value]='opt'>{{opt}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div id="buttonRow">
    <button mat-raised-button (click)='onUnix()'>UNIX</button>
    <button mat-raised-button (click)='onPin()'>PIN</button>
    <button mat-raised-button (click)='onGenerate()'>Generate</button>
    <button mat-raised-button (click)='onClearPassword()'>Clear</button>
  </div>
</div>
