.mat-checkbox ~ .mat-checkbox {
    margin-left: 16px;
}

#lengthSelect {
    margin-top: 16px;
}

.passwordField {
    width: 32em;
}

.rootDiv {
    width: fit-content;
    vertical-align: center;
    margin: 0 auto;
}

.passwordCard {
    background-color: cornsilk;
}

.optionsCard {
    background-color: cornsilk;
}

.buttonCard {
    background-color: cornsilk;
}